cat > .gitignore << 'EOF'
# Python virtual environment
.venv/

# Python caches
__pycache__/
*.pyc

# Secrets / environment variables
.env

# macOS system files
.DS_Store

# Editor folders
.vscode/
.idea/

#Trained ML models
*.joblib
EOF